# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# lock
*.lock

# Hugo
public/
resources/

# Backup Files
*.markdown~
*.md~
build/Release

# Build directories
public
dist

.DS_Store

